@model WebApplication1.Clients

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Clients</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClientID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryContact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryContact)
                @Html.ValidationMessageFor(model => model.PrimaryContact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryOfRiskID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryOfRiskID)
                @Html.ValidationMessageFor(model => model.CountryOfRiskID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GICSSubIndustryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GICSSubIndustryID)
                @Html.ValidationMessageFor(model => model.GICSSubIndustryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectorBankID, "SectorBankID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SectorBankID", String.Empty)
                @Html.ValidationMessageFor(model => model.SectorBankID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectorOKVEDID, "SectorOKVEDID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SectorOKVEDID", String.Empty)
                @Html.ValidationMessageFor(model => model.SectorOKVEDID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryID)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
